body {
    background: black;
}
a {
    display: block;
}
.disabled {
    cursor: default;
    text-decoration: none;
    opacity: 0.5;
}
.hidden {
    display: none;
}
.out {
    opacity: 0;
}
#controls {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 3rem;
}
#controls a {
    color: white;
    font-family: sans, sans-serif;
    font-weight: 300;
    line-height: 5rem;
    font-size: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0), rgb(0, 0, 0));
}
#pause {
    transition: opacity 500ms ease;
}
.playing #controls:not(:hover) #pause {
    opacity: 0;
}
#background-container,
#overlay-container,
#video-container {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    z-index: 0;
}
#background-container video,
#overlay-container video,
#video-container video {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 10s ease;
}
#video-container video:not(.out) {
    opacity: 1;
}
#overlay-container video:not(.out) {
    opacity: 0.5;
}

/**
 * Text scene
 */

.text-scene,
.particle-scene {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  z-index: 99999;
  overflow: hidden;
}

.text-scene__p {
  display: block;
  position: absolute;
  font-family: Arial, sans-serif;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 25vh;

  opacity: 0;
  transition: opacity 5s ease-in-out, transform 15s;
}

/**
 * Particle scene
 */
.particle {
  display: block;
  position: absolute;
  border-radius: 50%;
}
